asgiref
attrs
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
Django
django-request
flask
idna
importlib-metadata
itsdangerous
jinja2
MarkupSafe
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
pypyodbc
pyTelegramBotAPI
python-dateutil
requests
service-identity
six
sqlparse
telebot
typing-extensions
tzdata
urllib3
werkzeug
zipp
